	
	
	<!-- Start of the bottom of the page -->
	
		<footer class="footer" style="position: relative; bottom: 0; width: 100%; height: 60px; ">
		<div class="container">
				<p style="color: white; text-align: center; margin-top: 10px;">Copyright&copy; 2013-2015. Rhoads Rentals and Investment Properties LLC. All rights reserved.</p>
			</div>
		</footer>
		
		<script src="../../js/jquery.js"></script>
        <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="js/adminfunctions.js"></script>

	</body>
</html>